{% extends 'base/main.html'%}
{%load static%}

{% block content %}
<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/chat.png'%}"/>

        <div>
            <h1>Welcome to Hanz Archer's Chat Page</h1>
            <p>Practice Practice rani siya nga app</p>
        </div>

        <form id="form">
            <div class="form-field">
                <input type="submit" value="Join Video"/>
            </div>
        </form>
    </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
     Swal.fire({
        title: 'Welcome!',
        text: 'This is just a practice website created with the guidance of YouTube tutorials and some AI assistance. I am just a BSIT student practicing my skills.',
        imageAlt: "A tall image"
    });

    let form = document.getElementById('form')

    let handleSubmit = async(e) => {
        e.preventDefault()
        window.open('/room', '_self')
    } 
    
    form.addEventListener('submit', handleSubmit)
</script>

{% endblock content %}